[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/matlab"]
	path = vim/bundle/matlab
	url = https://github.com/vim-scripts/MatlabFilesEdition.git
    ignore = untracked
[submodule "vim/bundle/latex-box"]
	path = vim/bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
    ignore = untracked
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
    ignore = untracked
[submodule "vim/bundle/largeFile"]
	path = vim/bundle/largeFile
	url = https://github.com/vim-scripts/LargeFile.git
    ignore = untracked
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vimseek"]
	path = vim/bundle/vimseek
	url = https://github.com/goldfeld/vim-seek
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vim-ipython"]
	path = vim/bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
