snippet #!u
# -*- coding: utf-8 -*-
endsnippet

snippet imp
import ${1:module}
endsnippet

snippet dit "dict item" w
'${1:name}': ${2:value}
endsnippet

snippet with
with ${1:expr} as ${2:var}:
    ${3:# TODO: write code...}
endsnippet

# For
snippet for
for ${1:item} in ${2:items}:
    ${3:# TODO: write code...}
endsnippet
